:root {
    --text-color: #444444;
    --link-underline: rgba(255, 246, 186, 0.8);
    --link-hover: yellow;
    --text-primary: #000000;
    --text-secondary: #666666;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--text-color);
    line-height: 1.5;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode a {
    color: #ffffff;
}

body.dark-mode a:hover {
    background-color: grey;
}

body.dark-mode .articles-list a {
    color: grey;
}

body.dark-mode .articles-list a:hover {
    background-color: grey;
}

body.dark-mode .link-underline {
    background-color: grey;
}

.toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #444;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: #666;
}

.content-container {
    max-width: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    width: calc(100% - 40px);
    overflow: visible;
}

/* Typography */
p {
    text-align: justify;
    text-justify: inter-word;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -0.022em;
    margin-bottom: 1.2em;
}

a {
    color: var(--text-color);
    text-decoration: none;
    background-image: linear-gradient(var(--link-underline), var(--link-underline));
    background-position: 0 calc(100% + 8px);
    background-repeat: no-repeat;
    background-size: 100% 1rem;
    transition: text-decoration 0.3s;
    font-weight: inherit;
    position: relative;
    z-index: 1;
}

a:hover {
    background-image: linear-gradient(var(--link-hover), var(--link-hover));
}

Responsive 
@media (max-width: 782px) {
    .content-container {
        padding: 20px;
        width: calc(100% - 40px);
    }
}

@media (max-width: 768px) {
    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

/* Signature */
.signature {
    text-align: left;
    font-weight: 500;
    margin-top: 2em;
    letter-spacing: -0.022em;
}

.articles-section {
    margin: 2em 0;
}

.articles-section h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.articles-list {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5em 0;
}

.articles-list li {
    margin-bottom: 0.5em;
}

.articles-list a {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 2px solid var(--link-underline);
}

.articles-list a:hover {
    background-color: var(--link-hover);
} 