:root {
    --text-color: #444444;
    --link-underline: rgba(255, 246, 186, 0.8);
    --link-hover: yellow;
    --text-primary: #000000;
    --text-secondary: #666666;
}

body {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    color: var(--text-color);
    line-height: 1.5;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
